/** Global *******************************************/
* {
  // all: unset;
  font-family: feather;
  font-family: "Comfortaa";
}

.button {
  background: transparent;
}

.background {
  background: transparent;
}

/** Bar ***********************************/
.dockbox {
  background-color: #f5eee6;
  border: 1px solid #161616;
  border-radius: 12px;
  padding: 0 20px;
  color: #151515;
}

/** Systray ***********************************/
.systray {
  background-color: #f5eee6;
}

/** Icons ***********************************/
.genicon {
  background-repeat: no-repeat;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: transparent;
}

.appicon {
  background-repeat: no-repeat;
  background-size: 40px;
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
}

.top_bar {
  padding: 0 15px;
}

/** Clock ********************************************/
.clockbox {
  margin: 0px 0px 0px 15px;
}

.time {
  font-size: 16px;
  font-weight: bold;
}

.date {
  font-size: 12px;
  font-weight: bold;
}

/** Weather ********************************************/
.weatherbox {
  margin: 0px 0px 0px -90px;
}

.weathericon {
  font-family: Iosevka Nerd Font;
  font-size: 32px;
  font-weight: normal;
}

.weathertemp {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 0px -5px;
}

/** System *************************************************/
.mails {
  font-family: "MonoLisa";
  background-color: #ffc8c8;
  border: 0px solid #161616;
  border-radius: 16px;
  font-size: 12px;
  padding: 0px 8px 0px 8px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-style: italic;
  color: #151515;
}

.trayicon {
  background-repeat: no-repeat;
  background-size: 24px;
  min-height: 24px;
  min-width: 24px;
  margin: 10px 0px 10px 0px;
}

.infotext {
  font-family: "MonoLisa";
  background-color: #dcd7cd;
  border: 0px solid #161616;
  border-radius: 16px;
  font-size: 14px;
  padding: 0px 8px 0px 8px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-style: italic;
  color: #151515;

  &.user {
    font-family: "MonoLisa";
  }
}

.face {
  background-size: 24px;
  min-height: 24px;
  min-width: 24px;
  margin: 8px 0px 8px 0px;
  border-radius: 100%;
}

.slider {
  border-radius: 9999px;
  margin: 0 4px;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

  trough {
    border-radius: 9999px;
    background-color: #dcd7cd;
    min-height: 10px;
    min-width: 200px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  highlight {
    border-radius: 9999px;
    background-color: #b1a6ee;
    background-image: linear-gradient(45deg, #b1a6ee 0%, #b1a6ee 100%);
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }
}

/** EOF *************************************************/
