
@import "cobalt3.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 1.5rem;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 1rem;
  background-color: @base;
  margin-top: 1rem;
  margin: 3px 7px 3px 3px;
  padding: 0px 15px;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding-left: 6px;
  margin: 0px ;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: @pink;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @flamingo;
  border-radius: 1rem;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-notification,
#window {
  background-color: @base;
  margin: 3px 7px 0px 3px;
  padding: 0px 15px;
  border-radius: 1rem;
}

#custom-notification {
  color: @text;
  /* font-size: 1rem; */
  font-weight: 800;
}

#clock {
  color: @text;
}

#battery {
  color: @teal;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    border-radius: 1rem;
    color: @red;
}

#window {
  color: @text;
}

#tray {
  border-radius: 1rem;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}


