
@import "cobalt3.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 1.5rem;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  margin-left: 15px;
  border-radius: 1rem;
  background-color: @base;
  padding: 0px 10px;
}

#workspaces button {
  color: @text;
  margin: 0px ;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: @pink;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @flamingo;
  border-radius: 1rem;
  background: transparent;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-notification,
#workspaces,
#window {
  margin-top: 15px;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-notification {
  background-color: @base;
  padding: 0px 15px;
}

#custom-notification {
  color: @text;
  border-radius: 0 1rem 1rem 0;
  margin-right: 15px;
  padding-right: 30px;
}

#clock {
  border-radius: 1rem;
  margin-right: 15px;
  color: @text;
}

#battery {
  color: @teal;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  padding-right: 5px;
  border-radius: 1rem 0 0 1rem;
  color: @pink;
}

#pulseaudio.muted {
    padding-right: 15px;
    padding-left: 25px;
    color: @red;
}

#custom-power {
    margin-right: 15px;
    border-radius: 1rem;
    color: @red;
    padding: 0 25px;
}

#window {
  font-size: 1.3rem;
  padding: 0px 15px;
  border-radius: 1rem;
  font-style: italic;
  font-weight: 600;
  color: @crust;
  background: @teal;
}

#tray {
  border-radius: 1rem;
  margin-right: 1rem;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}


