/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "Comfortaa";
	font-style: italic;
	color: #C2C2C2;
}


/** Boxes ***********************************/
.winbox {
	background-color: rgba(40, 40, 40, 0.71);
	border: 1px solid rgba(60, 60, 60, 0.4);
	border-radius: 12px;
}

/** Resources ***********************************/
.res_box {
	border-radius: 12px;
	padding: 14px 18px 14px 18px;
}

.res_circle {
	background-color: rgba(40, 40, 40, 0.71);
	border: 1px solid rgba(60, 60, 60, 0.4);
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	border-radius: 100%;
	padding: 40px;
}

.res_text {
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
	font-style: normal;
}

.res_cpu {
	color: #FD6B85;
}

.res_mem {
	color: #B1A6EE;
}

.res_disk {
	color: #67D4F1;
}

/** Power Buttons ***********************************/
.powericons {
    background-repeat: no-repeat;
	background-size: 48px;
	min-height: 48px;
	min-width: 48px;
}

/** Quotes ***********************************/
.quote_box {
	margin: 10px;
}

.quote_text {
	font-size : 14px;
	font-weight : bold;
}

/** EOF *************************************************/
