/** Global *******************************************/
* {
  all: unset;
  font-family: feather;
}

/** Bar ***********************************/
.workspaces {
  .workspace {
    border: 2px solid grey;
    border-radius: 100%;
    font-size: 1.5rem;
    padding: 2px 10px;
    min-height: 32px;

    &.occupied {
      color: grey;
    }

    &.current {
      color: white;
      background-color: #67d4f1;
      border-color: #161616;
    }
  }
}
